button {
    background-image: radial-gradient(aqua, blue);
    width: 250px;
    border-radius: 20px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
}

img {
    width: 1880px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.firstbox {
    position: relative; 
    height: 650px;
    width: 100%;
}

.bgwrapper {
    position: absolute;
    top: 100px;
    left: 50px;
    color: white;
    
}

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

h5, h1, p {
    padding-top: 10px;
}

.next {
    width:10px;
    height:10px;
    border: solid 1px white;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    cursor:pointer;
    transform: translateX(40px);
    transition-property: all;
    transition-delay: 0.3s; /* delay ramden xanshi izavs, duration ramdeni xani izavs */
    transition-duration: 0.3s;
}

.next:hover {
    background-color: aqua;
    transform: scale(1.003);
}